$main_bg_color: #db8888;
$main_padding: "50px";

$header_bg_color: #888888;

$footer_bg_color: #444444;

$text_color: #ffffff;

$heading_color: #333333;

$link_color: #ff6600;

$link_hover_color: #ff9933;

$tomonlar: (
  t: "top",
  m: "middle",
  b: "bottom",
  l: "left",
  r: "right",
  mainpx: 20px,
);
